@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: 'Cairo'; font-weight: bold; src: 
    url('https://guavamz.github.io/css/Cairo-Bold.ttf'); }
@font-face { font-family: 'Cairo'; font-weight: normal; src:
    url('https://guavamz.github.io/css/Cairo-Regular.ttf'); } 